body {
  font-family: "Source Sans Pro", sans-serif;
  color: #454545;
  margin: 0;
}

main {
  max-width: 28rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin: 0 2rem 0 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

.contact {
  text-align: center;
  margin-top: 1rem;
}

h1 {
  margin: 0;
}

#map {
  height: 23rem;
  margin: 3rem 2rem 0 2rem;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-top: 3rem;
  }

  #map {
    margin: 3rem 0.8rem;
    height: 20rem;
  }
}

p {
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1.2rem;
}
